*
{
  font-family: Lilex Nerd Font Mono, sans-serif;
  font-size: 15px;
  color: #EFF2EE;
  transition: 0.5s;
}

*:hover
{
  transition: 0.5s;
}

window#waybar
{
  background-color: rgba(0x1A, 0x16, 0x24, 0.8);
  border-radius: 15px;
  border: #71ABB8 solid 2px;
}

#workspaces button
{
  padding: 0 5px;
  border: none;
  outline: none;
  /*background-color: rgba(180,200,255,0.1);*/
  margin: 0 3px;
  min-width: 1.5rem;
  border-radius: 0.5rem;
}

#workspaces button.active
{
  background-color: rgba(0x71, 0xAB, 0xB8, 0.3);
}

#workspaces button:hover
{
  background: none;
  background-color: rgba(180,200,255,0.3);
}

#workspaces,
#battery,
#network,
#language,
#tray,
#pulseaudio,
#custom-recorder
{
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0x71, 0xAB, 0xB8, 0.5);
  padding: 3px 10px;
  margin: 5px 0;
  min-width: 2rem;
  border-radius: 0.7rem;
}

#battery
{
  margin-right: 5px;
}

#workspaces
{
  margin-left: 5px;
  padding: 3px;
}
